@charset "utf-8";
@import 'compass';
@import 'variables';

/*
 * jquery.tocify.css 1.7.0
 * Author: @gregfranko
 */


html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: $main-text-color;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.page-wrapper {
  margin-left: $nav-width;
  min-width: 700px;
  position: relative;
  z-index: 10;
  background-color: $main-bg;

  padding: 1px 0; // prevent headers margin from overflowing
  
  .dark-box {
    width: $examples-width;
    background: $examples-bg;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  #lang-selector {
    position: fixed;
    width: 100%;
    z-index: 50;
    font-weight: bold;
    background-color: $lang-select-bg;
    @include background-image(linear-gradient(top, #1d82c6, #1864ab));
    border-bottom: 1px solid #000;
    a {
      background-color: $lang-select-bg;
      display: block;
      float:left;
      color: $lang-select-text;
      text-decoration: none;
      padding: 0 10px;
      border-right: 1px solid $lang-select-border;
      line-height: 30px;
      @include background-image(linear-gradient(top, #1d82c6, #1864ab));

      &:active, &.active {
        background-color: $examples-bg;
        border-top: 1px solid $examples-bg;
        border-right-color: $examples-bg;
        margin-bottom: -1px;
        background-image: none;
        position: relative;
        z-index: 70;
      }
    }

    &:after {
      content: '';
      clear: both;
      display: block;
    }
  }
}

.content {
  // to place content above the dark box
  position: relative;
  z-index: 30;

  pre, code {
    font-family: Monaco, "Courier New", monospace;
    font-size: 12px;
  }

  code {
    background-color: rgba(0,0,0,0.05);
    padding: 3px;
    border-radius: 3px;
  }

  &>h1, &>h2, &>h3, &>p, &>table, &>ul, &>ol {
    margin-right: $examples-width;
    @include box-sizing(border-box);
    padding: 0 $main-padding;
    display: block;
    @include embedded-text;
  }

  &>ul, &>ol {
    padding-left: $main-padding + 15px;
  }

  li {

  }

  &>h1, &>h2, &>div { // the div is the tocify hidden div for placeholding stuff
    clear:both;
  }

  table {
    margin-bottom: 1em;
    overflow: auto;
    th,td {
      text-align: left;
      vertical-align: top;
      line-height: 1.6;
    }

    th {
      padding: 5px 10px;
      border-bottom: 1px solid #999;
      vertical-align: bottom;
      max-width: 100%;
    }

    td {
      padding: 10px;
    }

    tr:last-child {
      border-bottom: 1px solid #999;
    }

    tr:nth-child(even)>td {
      background-color: lighten($main-bg,4.2%);
    }

    tr:nth-child(odd)>td {
      background-color: lighten($main-bg,2.4%);
    }
  }

  h1 {
    font-size: 30px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 2em;
    margin-bottom: 0;
    border-top: 1px solid #bbb;
    @include background-image(linear-gradient(top, #fff, #f9f9f9));
  }

  h1:first-child, div:first-child + h1 {
    margin-top: 0;
  }

  h2 {
    font-size: 20px;
    margin-top: 2em;
    margin-bottom: 0;
    padding-bottom: 1.2em;
  }

  h2, h1 + p, h1 + table, h1 + ul, h1 + ol {
    border-top: 1px solid #ccc;
    padding-top: 1.2em;
    @include background-image(linear-gradient(top, rgba(#fff,0.75), rgba(#fff, 0)));
  }

  h1 + h2, h1 + div + h2 {
    margin-top: 0;
  }

  h3 {
    font-size: 12px;
    margin-top: 2.5em;
    margin-bottom: 0.8em;
    text-transform: uppercase;
  }

  h1,h2,h3 {
    font-weight: bold;
  }

  p, li {
    line-height: 1.6;
    margin-top: 0;
  }

  pre, blockquote {
    float:right;
    width: $examples-width;
    clear:right;
    @include box-sizing(border-box);
    padding: 0 $main-padding;
    margin: 0;
    color: #fff;
    @include text-shadow(0px 1px 2px rgba(0,0,0,0.4));
    padding: $main-padding/2 $main-padding;
    &>p { margin: 0; }
    a {
      color: #fff;
      text-decoration: none;
      border-bottom: dashed 1px #ccc;
    }
  }

  pre {
    background-color: $code-bg;
    @include fancy-inset-border-top;
    @include fancy-inset-border-bottom;
  }

}

/* The Table of Contents container element */
.tocify {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $nav-width;
  background-color: $nav-bg;
  font-size: 13px;
  font-weight: bold;

  &>img {
    display: block;
    margin-bottom: $logo-margin;
  }
}

.tocify-item>a {
  padding: 0 $nav-padding 0 $nav-padding;
  display:block;
  overflow-x:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @include text-shadow(0px -1px 1px rgba(0,0,0,0.5));
}

/* The Table of Contents is composed of multiple nested unordered lists.  These styles remove the default styling of an unordered list because it is ugly. */
.tocify ul, .tocify li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 28px;
}

.tocify li {
  background-color: rgba(#1d82c6,0);
  color: #fff;
  @include transition-property('background');
  @include transition-timing-function('linear');
  @include transition-duration(230ms);
}

.tocify .tocify-focus {
  @include box-shadow(0px 1px 0px #000);
  // @include background-image(linear-gradient(top, #1d82c6, #1864ab));
  background-color: rgba(#1d82c6,1);
}

/* Top level header elements */
.tocify-header {
}

/* Top level subheader elements.  These are the first nested items underneath a header element. */
.tocify-subheader {
    display: none;
    background-color: $nav-subitem-bg;
    font-weight: 500;
    @include background-image(linear-gradient(top, darken($nav-subitem-bg,2%),$nav-subitem-bg 10%, $nav-subitem-bg 90%, darken($nav-subitem-bg,2%)));
    .tocify-item>a {
      padding-left: $nav-padding + $nav-indent;
      font-size: 12px;
    }
    &>li:first-child {
      @include fancy-inset-border-top;
    }

    &>li:last-child {
      @include fancy-inset-border-bottom;
    }
}
