{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react",
        "prettier/unicorn",
        "plugin:react-hooks/recommended"
    ],
    "plugins": ["prettier", "unicorn", "react", "react-hooks", "jsx-a11y"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        },
        "react": {
            "version": "detect"
        }
    },
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"],
            "extends": [
                "plugin:@typescript-eslint/eslint-recommended",
                "plugin:@typescript-eslint/recommended"
            ],
            "parser": "@typescript-eslint/parser",
            "plugins": ["@typescript-eslint"]
        }
    ],
    "ignorePatterns": ["node_modules/", "src/components/redwood.js/**"],
    "rules": {
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "no-param-reassign": 0,
        "prettier/prettier": 1,
        "arrow-body-style": [2, "as-needed"],
        "class-methods-use-this": 0,
        "import/imports-first": 0,
        "import/newline-after-import": 0,
        "import/no-dynamic-require": 0,
        "import/no-named-as-default": 0,
        "import/no-unresolved": 2,
        "import/no-webpack-loader-syntax": 0,
        "import/prefer-default-export": 0,
        "max-len": 0,
        "newline-per-chained-call": 0,
        "no-confusing-arrow": 0,
        "no-console": 1,
        "no-unused-vars": 1,
        "no-use-before-define": 0,
        "prefer-template": 2,
        "react/no-array-index-key": 1,
        "react/destructuring-assignment": 0,
        "react/require-default-props": 0,
        "react/require-extension": 0,
        "react/self-closing-comp": 0,
        "react/sort-comp": 0,
        "react/forbid-prop-types": 0,
        "react/jsx-closing-tag-location": 0,
        "react/jsx-first-prop-new-line": [2, "multiline"],
        "react/jsx-filename-extension": 0,
        "react/jsx-props-no-spreading": 0,
        "react/jsx-no-target-blank": 0,
        "react/jsx-uses-vars": 2,
        "react/jsx-indent": 0,
        "react/prop-types": 0,
        "react/react-in-jsx-scope": 0,
        "react/jsx-uses-react": 0,
        "jsx-a11y/aria-props": 2,
        "jsx-a11y/heading-has-content": 0,
        "jsx-a11y/label-has-associated-control": [
            2,
            {
                "controlComponents": ["Input"]
            }
        ],
        "jsx-a11y/label-has-for": 0,
        "jsx-a11y/mouse-events-have-key-events": 2,
        "jsx-a11y/role-has-required-aria-props": 2,
        "jsx-a11y/role-supports-aria-props": 2,
        "react-hooks/rules-of-hooks": 2,
        "unicorn/prevent-abbreviations": "off",
        "jsx-a11y/click-events-have-key-events": 0,
        "consistent-return": 0,
        "no-constant-condition": ["error", { "checkLoops": false }],
        "jsx-a11y/no-noninteractive-element-interactions": 0,
        "jsx-a11y/media-has-caption": 0,
        "no-restricted-syntax": 0,
        "no-bitwise": 0,
        "no-continue": 0,
        "react/no-unescaped-entities": 0,
        "prefer-destructuring": [
            "error",
            {
                "array": false,
                "object": true
            },
            {
                "enforceForRenamedProperties": false
            }
        ]
    }
}
