@font-face {
    font-family: 'CallingCode';
    src: local('CallingCode'),
        url(./assets/fonts/CallingCode-Regular.ttf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'CallingCode';
    src: local('CallingCode'),
        url(./assets/fonts/CallingCode-RegularItalics.ttf) format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'CallingCode';
    src: local('CallingCode'),
        url(./assets/fonts/CallingCode-Bold.ttf) format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'CallingCode';
    src: local('CallingCode'),
        url(./assets/fonts/CallingCode-BoldItalics.ttf) format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Rogan';
    src: local('Rogan'),
        url(./assets/fonts/Rogan-Regular.otf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Rogan';
    src: local('Rogan'), url(./assets/fonts/Rogan-Medium.otf) format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Rogan';
    src: local('Rogan'),
        url(./assets/fonts/Rogan-SemiBold.otf) format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Rogan';
    src: local('Rogan'), url(./assets/fonts/Rogan-Bold.otf) format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Rogan';
    src: local('Rogan'),
        url(./assets/fonts/Rogan-ExtraBold.otf) format('opentype');
    font-weight: 900;
}

body {
    margin: 0px;
    font-family: 'CallingCode', sans-serif !important;
}
